 .u-section-1 {
  background-image: url("images/bea5d34e8f7c10cc35f3a986947ecf764929bf54f27851ca082ee0e9362edbb5fba68fc2b337dcbbc26e0fb7952a1dce4e510427144242a1e74bc5_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 700px;
}

.u-section-1 .u-text-1 {
  margin: 166px 613px 0 65px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 330px;
  margin: -215px 0 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: -58px auto 60px 194px;
  padding: 16px 56px 17px 54px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 575px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 121px;
    margin-right: 429px;
    margin-left: 39px;
  }

  .u-section-1 .u-image-1 {
    width: 470px;
    height: 272px;
    margin-top: -219px;
    margin-right: -50px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -39px;
    margin-left: 139px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 258px;
    margin-left: 143px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 20px;
    margin-right: 258px;
    margin-left: 143px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 403px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 78px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 78px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 576px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 307px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-image-1 {
    width: 350px;
    height: 203px;
    margin-top: -387px;
    margin-left: -5px;
    margin-right: -5px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 211px;
    margin-left: auto;
    margin-bottom: 27px;
  }
} .u-section-2 {
  background-image: url("images/earth-gefb9f6a3c_1280.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 663px;
}

.u-section-2 .u-image-1 {
  width: 463px;
  height: 463px;
  margin: 67px auto 0 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: -357px 109px 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 33px 0 0 570px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 33px 173px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -358px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 350px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 314px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 75px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -235px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 973px;
}

.u-section-3 .u-table-1 {
  width: 1099px;
  height: 848px;
  margin: 60px auto 0;
}

.u-block-59b3-10 {
  height: 46px;
}

.u-section-3 .u-table-cell-1 {
  margin-bottom: 0;
}

.u-section-3 .u-table-cell-2 {
  margin-top: 20px;
}

.u-block-59b3-34 {
  height: 46px;
}

.u-section-3 .u-text-1 {
  font-size: 1.375rem;
  margin: -835px 988px 0 21px;
}

.u-section-3 .u-text-2 {
  font-size: 1.375rem;
  text-align: center;
  margin: -39px 475px 0 158px;
}

.u-section-3 .u-text-3 {
  font-size: 1.375rem;
  text-align: center;
  margin: -26px 228px 0 671px;
}

.u-section-3 .u-text-4 {
  font-size: 1.375rem;
  text-align: center;
  margin: -26px 21px 796px 918px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-table-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-1 {
    margin-right: 809px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 375px;
    margin-left: 58px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 128px;
    margin-left: 571px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 739px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-table-1 {
    width: 720px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 589px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 213px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 18px;
    margin-left: 461px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 519px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-table-1 {
    width: 540px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 409px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 33px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 299px;
  }

  .u-section-3 .u-text-4 {
    margin-bottom: 60px;
    margin-left: 339px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-table-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 209px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 99px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 139px;
  }
}