.u-section-1 .u-sheet-1 {
  min-height: 889px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 684px;
  height: auto;
  width: 646px;
  margin: 103px auto;
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }
}